@import "../../../../styles/main.scss";

.last_post {
  @include all_posts;
  @include all_posts_desktop;
  background-color: $background-color-forum;
  margin-top: 40px;
  width: 90%;
  margin-left: 5%;
}

h1 {
  @include police-txt;
  color: black;
  width: 75%;
  font-size: 24px;
  margin-top: 15px;
}

.see_all {
  @include flex-jc-flexend;
  margin-right: 5%;
}

.see_all a {
  cursor: pointer;
}

.see_all_post {
  border-radius: 13px;
  background-color: $second-color;
  margin-right: 5%;
}

.card_post {
  @include flex-direction-column;
  width: 100%;
  margin-top: 10px;
}

.card {
  @include post_disposition;
  border: solid 1px $primary-color;
  border-radius: 13px;
  cursor: pointer;
  margin-bottom: 1%;
}

.card:hover {
  box-shadow: 0px 6px 10px #1d1d1d;
}
.description_post {
  @include post_disposition;
  border: solid 1px $primary-color;
  border-radius: 13px;
  cursor: pointer;
  margin-bottom: 1%;
}

.description_post:hover {
  box-shadow: 0px 6px 10px #1d1d1d;
}

.img_post {
  @include flex-center;
  width: 100%;
}

.img_post img {
  width: 80%;
}
