@import "../../../../style.scss/main.scss";

.last_pinned_msg {
  @include last_pinned_msg;
  @include all_posts_desktop;
  background-color: $background-color-forum;
  width: 90%;
  margin-left: 5%;
}

.title-forum {
  @include police-txt;
  color: $primary-color;
  width: 75%;
  font-size: 24px;
  margin-top: 2%;
  margin-bottom: 6%;
}

.card_post-pinned {
  @include flex-center;
  margin-bottom: 4%;
  width: 100%;
  border-radius: 13px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 6px 10px #1d1d1d;
  }
}

.img_post {
  @include flex-center;
  width: 100%;
}

.img_post img {
  width: 80%;
}
