@import "../../../../style.scss/main.scss";

.header {
  background-color: $second-color;
  width: 100%;
  margin-bottom: 4%;
}

.logoGroupomania {
  width: 50%;
  @include flex-jc-flexstart;
}

.params {
  border: $primary-color-dark;
  border-radius: 53px;
  background-color: $second-color;
  height: 70px;
  width: 70px;
  &:hover {
    box-shadow: 0px 6px 10px #1d1d1d;
  }
}

svg.MuiSvgIcon-root.iconSetting {
  font-size: 3rem;
  color: $color-pastel-icon;
}

.icons_connection {
  @include header_logo_forum;
  @include space-between;
  align-items: center;
  margin: 3% 5% 0% 5%;
  width: 90%;
}

.link_params {
  opacity: 1;
}

.icons_groupomania_profile {
  @include flex-center;
  height: 50px;
  margin-top: 3%;
  margin-right: 5%;
}

.content_text {
  width: 0px;
  opacity: 0;
}

.icons_connection:hover .content_text {
  opacity: 1;
  cursor: pointer;
}

.badge {
  border: 1px solid greenyellow;
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border-radius: 45%;
  position: absolute;
  right: 28px;
  top: 67px;
}
