@import "../../../../styles/utils/_mixins.scss";
@import "../../../../styles/utils/_variables.scss";

.header {
  background-color: $background-color-forum;
}

.icons_connection {
  @include flex-jc-flexend;
  margin-top: 3%;
  margin-right: 5%;
  width: 100%;
}

.icons_groupomania_profile {
  @include flex-center;
  height: 70px;
  margin-top: 3%;
  margin-right: 5%;
}

.content_text {
  width: 0px;
  opacity: 0;
}

.icons_connection:hover .content_text {
  opacity: 1;
  cursor: pointer;
}

.badge {
  @include header_badge;
  border: 1px solid greenyellow;
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border-radius: 45%;
  position: absolute;
  right: 28px;
  top: 67px;
}
