@charset "UTF-8";
/* Police d'écriture */
/* Flexbox */
/* Responsive */
/* Reponsive page accueil tablette et desktop */
/* Desktop accueil */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
a {
  text-decoration: none;
  color: black;
}

/* Bouton page d'accueil */
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  background-color: #fd2d01;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-left: 15%;
  border: #fd2d01;
  border-radius: 13px;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .btn {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .btn {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 60%;
  }
}

/* Bouton page Login */
.register-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: grey;
  font-size: 20px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: #fd2d01;
  border-radius: 13px;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .register-btn {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .register-btn {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 60%;
  }
}

.login-btn-red {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  background-color: #fd2d01;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: #fd2d01;
  border-radius: 13px;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .login-btn-red {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .login-btn-red {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 60%;
  }
}

.account {
  width: 100%;
}

.form_login {
  width: 100%;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fd2d01;
  margin-left: 5%;
}

.login {
  width: 90%;
  margin-left: 5%;
}

.input_account {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: none;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.btn_login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}

.login_btn_white {
  width: 50%;
}

.login_btn {
  width: 50%;
}

.link_forgot {
  display: flex;
  justify-content: flex-end;
}

.background_groupomania {
  display: flex;
  align-content: flex-end;
  width: 100%;
  height: 100%;
  top: 25%;
  position: absolute;
}
@media screen and (min-width: 850px) {
  .background_groupomania {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .background_groupomania {
    display: flex;
    align-content: flex-end;
    width: 100%;
    height: 0%;
  }
}

.logo_groupomania {
  width: 100%;
  height: 350px;
  object-fit: cover;
  z-index: -1;
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .logo_groupomania {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 100%;
    position: absolute;
    top: 25%;
    object-fit: cover;
  }
}
@media screen and (min-width: 850px) {
  .logo_groupomania {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 50%;
    height: 400px;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .logo_groupomania {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 100%;
  }
}

.two_parts {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 1;
  position: absolute;
  top: 50%;
}
@media screen and (min-width: 850px) {
  .two_parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 70%;
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .two_parts {
    position: absolute;
    top: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .two_parts {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 100%;
  }
}

.presentation {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: black;
  width: 80%;
  margin-bottom: 2%;
  margin-left: 10%;
}
@media screen and (min-width: 850px) {
  .presentation {
    margin-left: 0%;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .presentation {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 100%;
  }
}

.connection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60px;
}
@media screen and (min-width: 850px) {
  .connection {
    margin-left: 0%;
  }
}
@media screen and (min-width: 768px) and (max-width: 850px) {
  .connection {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
