/* Police d'écriture */

@mixin police-txt {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
@mixin police-txt-second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* Flexbox */

@mixin flex {
  display: flex;
}

@mixin flex-aligncontent-flexend {
  display: flex;
  align-content: flex-end;
}

@mixin flex-jc-flexend {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-direction-column-two_parts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-direction-column-home_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@mixin flex-direction-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-home_page {
  display: flex;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

/* Responsive */

/* Reponsive page accueil tablette et desktop */

@mixin tablets-background_groupomania {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    @include flex-aligncontent-flexend;
    width: 100%;
    height: 0%;
  }
}

@mixin tablets-home {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    @include flex-center-home_page;
    margin-left: 0%;
    width: 100%;
  }
}

@mixin tablets-position-on-page-home {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    position: absolute;
    top: 60%;
  }
}

@mixin tablets-position-on-page-home-logo {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    @include flex-center-home_page;
    margin-left: 0%;
    width: 100%;
    position: absolute;
    top: 25%;
    object-fit: cover;
  }
}

@mixin tablets-home-btn {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    @include flex-center;
    margin-left: 0%;
    width: 60%;
  }
}

/* Desktop accueil */

@mixin desktop-position-on-page-home-logo {
  @media screen and (min-width: $breakpoints-desktop) {
    @include flex-center-home_page;
    margin-left: 0%;
    width: 50%;
    height: 400px;
    object-fit: cover;
  }
}

@mixin desktop-background_groupomania {
  @media screen and (min-width: $breakpoints-desktop) {
    @include flex-center;
    width: 100%;
    height: 600px;
  }
}

@mixin two_parts-desktop {
  @media screen and (min-width: $breakpoints-desktop) {
    @include flex-direction-column-two_parts;
    width: 100%;
    top: 70%;
    margin-top: 0px;
  }
}

@mixin margin-left {
  @media screen and (min-width: $breakpoints-desktop) {
    margin-left: 0%;
  }
}

@mixin desktop-home-btn {
  @media screen and (min-width: $breakpoints-desktop) {
    @include flex-center;
    margin-left: 0%;
    width: 40%;
  }
}

/* Reponsive page login tablette et desktop */

@mixin input-account {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    width: 95%;
  }
}

@mixin tablet-center-login {
  @media screen and (min-width: $breakpoints-tablets) and (max-width: $breakpoints-desktop) {
    @include flex-center;
    width: 100%;
    margin-top: 20%;
  }
}

@mixin desktop-center-login {
  @media screen and (min-width: $breakpoints-desktop) {
    @include flex-center;
    width: 75%;
    margin-top: 15%;
  }
}

@mixin section-center {
  @media screen and (min-width: $breakpoints-desktop) {
    @include flex-center;
    width: 100%;
  }
}
