@import "../../../../style.scss/main.scss";

.card_post {
  @include flex-center;
  width: 100%;
  margin-top: 10px;
}

.card_post a {
  width: 90%;
  border-radius: 13px;
  cursor: pointer;
}

.card img {
  width: 70%;
}

.msg {
  width: 50%;
  text-align: center;
  @include flex-center;
  margin-bottom: 6%;
  color: $second-color;
}

.userName {
  width: 50%;
  @include flex-center;
  color: $primary-color;
  margin-bottom: 2%;
}

.likesAndComments {
  @include flex-direction-column-two_parts;
  width: 100%;
}

.likesAndDislikes {
  width: 40%;
  @include space-between;
}

.likes {
  color: green;
}

.dislikes {
  color: $primary-color;
}

.numberOfComments {
  width: 100%;
  margin-left: 5%;
}

.commentsCounter {
  @include flex-jc-flexstart;
}

.comments {
  @include flex-direction-row;
  align-items: center;
  width: 60%;
  margin-bottom: 4%;
}

.inputComment {
  width: 70%;
  margin-bottom: 4%;
  border: 1px solid $primary-color-dark;
  background-color: $input-color;
  border-radius: 13px;
}
.messageComment {
  @include input-account;
  background-color: $input-color;
  border-radius: 10px;
  border-style: none;
  width: 70%;
  height: 50px;
  margin-bottom: 20px;
}

.arrow_sendComments {
  @include flex-center-home_page;
  justify-content: center;
  height: 55px;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 13px;
  background-color: $primary-color;
  color: $second-color;
  &:hover {
    box-shadow: 0px 6px 10px #1d1d1d;
  }
}
