@import "../../../../style.scss/main.scss";

.card_post {
  @include flex-center;
  width: 100%;
  margin-top: 10px;
}

.card_post a {
  width: 90%;
  border-radius: 13px;
  cursor: pointer;
}

.card_post a:hover {
  box-shadow: 0px 6px 10px #1d1d1d;
}

.card img {
  width: 33%;
}

.msg {
  width: 33%;
  @include flex-center;
}

.userName {
  width: 33%;
  @include flex-center;
}
