@import "../../../../../style.scss/main.scss";

.deleteAccount {
  background-color: $primary-color-dark;
}

.allElementDeleteSection {
  @include flex-center;
  @include flex-direction-column;
  background-color: $primary-color-dark;
  width: 50%;
  margin-left: 25%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.questionDelete {
  font-size: 20px;
  text-align: center;
  width: 86.5%;
  margin-left: 7%;
  margin-bottom: 4%;
  color: $second-color;
}

.deleteButton {
  @include desktop-home-btn;
  @include tablets-home-btn;
  @include police-txt-second;
  color: $second-color;
  font-size: 16px;
  background-color: $primary-color;
  color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70%;
  border: $primary-color;
  border-radius: 13px;
  cursor: pointer;
}

.btnDelete {
  @include flex-center;
  margin-bottom: 2%;
}
.lastChance {
  @include flex-center;
  color: $second-color;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.deleteButton:hover {
  box-shadow: 0px 6px 10px $second-color;
}

.theQuestion {
  @include flex-center;
  text-align: center;
  margin-top: 2%;
  width: 100%;
  padding-bottom: 3%;
}

.boolean {
  @include flex-center;
}

.btn_choice {
  @include police-txt;
  margin: 4% 4% 0% 4%;
  border: 1px solid $primary-color;
  border-radius: 13px;
  width: 20%;
  height: 40px;
  color: $primary-color;
  background-color: $primary-color-dark;
  cursor: pointer;
}

.btn_choice:hover {
  box-shadow: 0px 6px 10px $second-color;
}
