@import "../../../../../styles/main.scss";

.passwordUpdate {
  background-color: $color-pastel-icon;
}

.allElementsPasswordSection {
  @include flex-center;
  @include flex-direction-column;
  background-color: $color-pastel-icon;
  width: 50%;
  margin-left: 25%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.passwordSection {
  width: 80%;
  margin-left: 7%;
  margin-bottom: 2%;
}

.formParams {
  @include flex-center;
  width: 90%;
  margin-left: 5%;
}

.accountParams {
  width: 100%;
}

.password {
  @include flex-center;
  @include flex-direction-column;
  width: 100%;
}

.input_password {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: none;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
}

.submitChange {
  @include flex-center;
}
