@import "../../../../../style.scss/main.scss";

.passwordUpdate {
  background-color: $color-pastel-icon;
}

.allElementsPasswordSection {
  @include flex-center;
  @include flex-direction-column;
  background-color: $color-pastel-icon;
  width: 50%;
  margin-left: 25%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.passwordSection {
  font-size: 20px;
  text-align: center;
  width: 86.5%;
  margin-left: 7%;
  margin-bottom: 4%;
}

.formParams {
  @include flex-center;
  width: 90%;
  margin-left: 5%;
}

.accountParams {
  width: 100%;
}

.password {
  @include flex-center;
  @include flex-direction-column;
  width: 100%;
}

.input_password {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: none;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  &::placeholder {
    font-size: 16px;
  }
}

.submitChange {
  @include flex-center;
}

.btn-chg-password {
  @include desktop-home-btn;
  @include tablets-home-btn;
  @include police-txt-second;
  color: $second-color;
  font-size: 16px;
  background-color: $primary-color;
  color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70%;
  border: $primary-color;
  border-radius: 13px;
  cursor: pointer;
}
