// Light theme

$primary-color: #fd2d01;
$second-color: #ffffff;
$input-color: #f0f0f0;

//Dark theme

$primary-color-dark: #353535;
$second-color-dark: #ffffff;

// Breakpoints

$breakpoints-tablets: 768px;
$breakpoints-desktop: 850px;
