// Light theme

$primary-color: #fd2d01;
$second-color: #ffffff;

//Dark theme

$primary-color-dark: #353535;
$second-color-dark: #ffffff;

// Breakpoints

$breakpoints-tablets: 768px;
$breakpoints-desktop: 991px;
