.login_section {
  @include section-center;
}

.all_elements {
  @include desktop-center-login;
  @include tablet-center-login;
  @include flex-direction-column;
  justify-content: center;
  width: 100%;
  height: 650px;
  margin-top: 6%;
}

h1 {
  color: $primary-color;
  margin-left: 5%;
}
.account {
  width: 100%;
}

.form_login {
  width: 100%;
}

.title {
  @include police-txt-second;
  color: $primary-color;
  margin-left: 5%;
}

.login {
  width: 90%;
  margin-left: 5%;
}

.input_account {
  @include input-account;
  background-color: $input-color;
  border-radius: 10px;
  border-style: none;
  width: 95%;
  height: 50px;
  margin-bottom: 20px;
}

input {
  @include police-txt-second;
  font-size: 20px;
  color: black;
  outline-style: none;
  padding-left: 5%;
}

::placeholder {
  font-size: 20px;
  color: $placeholder-color;
}

.btn_login-page {
  @include flex-direction-row;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}

.login_btn_white {
  width: 50%;
}

.login_btn {
  width: 50%;
}

.link {
  @include flex-jc-flexend;
  width: 100%;
  margin-right: 5%;
}

.link_password {
  @include flex-center;
  width: 52%;
}

.link_forgot {
  @include flex-center;
  @include police-txt-second;
  margin-top: 15px;
  cursor: pointer;
}
