/* Bouton page d'accueil */

.btn {
  @include desktop-home-btn;
  @include tablets-home-btn;
  @include police-txt-second;
  color: $second-color;
  font-size: 20px;
  background-color: $primary-color;
  color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
  border: $primary-color;
  border-radius: 13px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 6px 10px #1d1d1d;
}

.button_login {
  @include button_login;
  width: 100%;
}

.btn_description {
  color: $second-color;
}

/* Bouton page Login */

.btn-register {
  //@include desktop-home-btn;
  //@include tablets-home-btn;
  @include police-txt-second;
  color: grey;
  font-size: 20px;
  background-color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: $primary-color;
  border-radius: 13px;
  cursor: pointer;
}

.button_register {
  width: 50%;
}

.btn_description_register {
  color: grey;
}

.btn-register:hover {
  box-shadow: 0px 6px 10px #1d1d1d;
}

.login-btn-red {
  // @include desktop-home-btn;
  // @include tablets-home-btn;
  @include police-txt-second;
  color: $second-color;
  font-size: 20px;
  background-color: $primary-color;
  color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: $primary-color;
  border-radius: 13px;
  cursor: pointer;
}

.login-btn-red-register {
  // @include desktop-home-btn;
  // @include tablets-home-btn;
  @include police-txt-second;
  @include flex-center;
  color: $second-color;
  font-size: 20px;
  background-color: $primary-color;
  color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
  margin-left: 25%;
  border: $primary-color;
  border-radius: 13px;
  cursor: pointer;
}

.login-btn-red:hover {
  box-shadow: 0px 6px 10px #1d1d1d;
}
