// Light theme

$primary-color: #fd2d01;
$second-color: #ffffff;
$background-color-forum: #fcfcfc;
$color-pastel-icon: #ffd7d7;
$input-color: #f0f0f0;
$input-color-forum: #b6b6ba;
$placeholder-color: #b0b0b0;

//Dark theme

$primary-color-dark: #353535;
$second-color-dark: #ffffff;

// Breakpoints

$breakpoints-tablets: 768px;
$breakpoints-desktop: 900px;

a {
  text-decoration: none;
  color: black;
}
